*{margin:0; padding:0; box-sizing: border-box;}
ul,ol{list-style: none;}
a{
  text-decoration: none;
  color:inherit;
}

::-webkit-scrollbar{display: none;}

header{
  width:1200px;
  text-align: center;
  margin:auto;
}
header .wrap{
  min-width:1080px;
  height:200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header .search{
  font-size:14px;
  padding:2px 8px;
  width:260px;
}

header .search form input{
  border:none;
  border-bottom: 1px solid #333;
}

header .search form button{
  border:none;
  background-color: transparent;
  cursor: pointer;
}

header .logo img{
  width:150px;
  height:150px;
}

header .login ul{
  display: flex;
  font-size:14px;
}

header .login ul li{
  padding:2px 8px;
}

nav ul{
  text-align: center;
  margin:auto;
  width:1200px;
  display: flex;
  justify-content: space-around;
  font-size:18px;
}

nav > .wrap > .main > li{
  margin:18px;
  width:150px;
  position:relative;
}

.main > li:hover{
  border-bottom:1px solid #666;
}

.sub{
  position:absolute;
  width:100%; 
  text-align: center;
  z-index:2;
  display:none;
}

.sub > li{
  width:auto;  
  display:flex;
  justify-content: space-around;
  margin:15px;
}

.sub > li:hover{ 
  width:auto; 
  border-bottom:1px solid #666;
}

nav .bg{
  width:100%;
  height:230px;
  background-color:rgba(255, 255, 255, 0.5);
  position:absolute;
  z-index: 1;
  display:none;
}


.banner{
  width:1920px;
  height:600px;
  margin:auto;
  position:relative;
  overflow: hidden;
}
.banner .imgs{ /*으아아아아ㅏㅏㅏㅏㅏㅏㅏㅏㅏ아악*/
  width:5760px;
  position:absolute; /*이거안주니까 애들이 슬라이드가 안되고 띢띢 떠*/
  top:0; left:0;
}
.banner .imgs li{
  width:1920px;
  height:auto;
  float:left;
}
.banner a{
  width:100%;
  height:100%;
  display: block;
  cursor: pointer;
}
.banner .banner02{
  display:none;
}
.banner button[type=button]{
  background-color: rgba(183, 183, 183, 0.5);
  position:absolute;  
  border: none;
  cursor: pointer;
  width:40px;
  height:40px;
}
.banner button img{
  height:auto;
}
.banner .prev{
  left:20%; top:50%;  
  transform: translate(-50%,-50%); 
}
.banner .next{ 
  right:20%; top:50%;  
  transform: translate(-50%,-50%); 
}

._title{
  width:1280px;
  margin:auto;
  text-align: center;
}

._title h1{
  font-size: 24px;
  padding:80px 0 40px 0;
}

.recommendation{
  width:100%;
  height:500px;
  background-color: #002f6c;
  font-size:24px;
  position:relative;
}

.recommendation > .wrap{
  margin:auto;
  width:1280px;
  height:600px;
  display: flex;
}


.recommendation .title{
  width:300px;
  height:300px;
  padding:55px 20px;
}

.recommendation h2{
  font-size:24px;
  color:#fff;
  line-height:35px;
}

.recommendation .menu{
  width:1500px;
  height:600px;
  padding-top:40px;
}

.recommendation .menu li{
  width:185px;
  height:185px;
  background-color: #fff;
  margin:10px;
  float:left;
  display: block;
  position:relative;
  z-index:3;
}


.recommendation .menu li a{
  width:100%;
  height:100%;
  display: block;
}

.recommendation .menu li .gray p{
  display:none;
}

.recommendation .menu li .gray:hover{
  width:185px;
  height:185px;
  background-color: rgba(183, 183, 183, 0.7);
  z-index:2;
}

.recommendation .menu li .gray:hover p{
  display:block;
  font-size:18px;
  font-weight: bold;
  text-align: center;
  color: #002f6c;
  padding:70px 20px;
  z-index:1;
}


.recommendation .menu li img{
  width:90%;
  height:auto;
  position:absolute;
  top:50%; left:50%;
  transform: translate(-50%,-50%);
  z-index:-1;
}

.new{
  width:1100px;
  margin:auto;  
  font-size:18px;
  display: flex;
  justify-content: space-around;
  padding-bottom:60px;
}

.new div{
  width:450px;
  height:200px;
  position:relative;
}

.new .notice h2{
  font-size: 21px;
  padding-bottom: 10px;
  color:#002f6c;
}

.new .notice hr{
  margin-bottom:5px;
}

.new .notice table tr td{
  line-height: 1.7;
  color:#333;  
  font-size: 18px;
  cursor: pointer;
}

.new .notice table td:last-child{
  padding-left:20px;
}

.new .youtube{
  padding-left: 30px;
}

.new .youtube .wrap{
  width:450px;
  height:252px;
  background:url("../img/thumbnail.jpg");
  background-size: cover;
}

.new .youtube a{
  width:100%;
  height:100%;
  display: block;
}

.new .youtube a:hover{
  background-color: rgba(183, 183, 183, 0.5);
}

.youtube .play{
  position:absolute;  
  width: 50px;
  height:50px;
  top:50%; left:50%;
  transform: translate(-50%,-50%);
}

.youtube .play img{
  width: 50px;
  height:50px;
}

.youtube a{
  width:100%;
  height:100%;
  display: block;
}


article .instagram{
  width:1200px;
  margin:auto;
  text-align: center;  
  padding-bottom:80px;  
  display: flex;
  justify-content: space-around;
}

.instagram .box {
  width:350px;
  height:350px;
  position:relative;
  overflow:hidden;
  cursor: pointer;
}

.instagram .box .pic{
  width:350px;
  height:350px;
  transition:all 0.5s cubic-bezier(.21,.77,.39,.91);
}

.instagram .box:hover .pic{  
  transform:scale(1.1);
}

.instagram .box .icon{
  position:absolute;
  top:20px; left:20px;
  width:50px;
  height:50px;
}

footer{
  width:100%;
  height:440px;
  background-color:#999a99;
  color:#fff;
}

footer .wrap{
  width:1200px;
  height:auto;
  margin:auto;
}

footer .wrap .blah{  
  height:80px;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .wrap .other{
  padding-top:40px;
}

footer .ccm{
  padding-top:80px;
  float:right;
}